body, .inputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
	flex-direction:  column;
}
.inputContainer {
	 flex-direction: row;
	 padding: 10px;
	 input{
		 margin: 10px;
	 }
 }